@media only screen and (min-width: 375px) and (max-width: 500px) 
{}

/*Définition de la police personnalisée*/

/* vietnamese */
@font-face {
    font-family: 'Raleway';    
    src: url("Raleway/Raleway-VariableFont_wght.ttf");  
  }

  body{
    font-family: raleway;
    margin: 0; 
    
  }

/*Header*/

header{
    width: 1440px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.logo img{
    width: auto;
    height: 50px;
    display: flex;
}

.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav{
    margin-right: 2%;
    font-weight: bold;
}


nav ul{
    list-style-type: none;
    font-size: small;
    display: flex;
    justify-content: flex-end;
}

nav li{
    padding-inline-start: 60px;
}

a{
    text-decoration: none;
    color: black;
}
.nav{
    text-decoration: none;
    color: #0065FC;

}

.nav:hover{
    text-decoration: overline;
    color: #0065FC;
}


h1{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0mm;
}

h2{
    font-weight: lighter;
    font-size: small;
    margin-top: 0mm;
}
.recherche{
    display: flex;
    font-size: 1.3em;
    margin-top: 15px;
    font-weight: bold;  
}

.recherche i{
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
}

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form i{
    border: 1px solid #F2F2F2 ;
    border-radius: 30px 0px 0px 30px;
    background-color: #F2F2F2;
    padding: 1px 18px 1px 18px;
    color: black;
    font-weight: bold;
    width: 12px;
    height: 47px;
    text-align: center; 
    display: flex;
    align-items: center; 
}

.bouton{
    border: 1px solid #0065FC;
    border-radius: 0px 30px 30px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    width: 134px;
    height: 50px;
    padding: 1px 18px 1px 18px;
    display: flex;
    align-items: center;
}

.search{
    border: 1px solid #F2F2F2;
    width: 184px;
    height: 50px;
    font-weight: bold;
    color: black;
    padding: 1px 18px 1px 18px;
    display: flex;
    align-items: center;
}

h3{
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtre{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.fil{
    display: flex;
    align-items: center;
    margin-top: -1.5%;
}
.filtre i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtersDiv i{
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.filtersDiv{
    border-top: 1px #DEEBFF solid ;
    border-bottom: 1px #DEEBFF solid ;
    border-right: 1px #DEEBFF solid ;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.filtersText{
    border-radius: 0 20px 20px 0;
    height: 70%;
    padding: 10px 10px 0 10px;
    font-weight: bold;
}

.filtersDiv:hover{
    background-color: #DEEBFF;
    border: none;
}

.info i{
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 10px;
}

.info
{
    display: flex;
    align-items: center;
}

/*Main*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;  
}

.bloc1bloc2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Section Hébergement*/

#hebergements{
margin-left: 3%;
}

.hebergement{
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    height: auto;
    padding-top: 3%;
    font-weight: bolder;
    font-size: 1.2em;   
}
.bloc1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2%;
}
.element{   
    width: 25%;
    height: 200px;
    margin: 3%;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    font-size: small;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    align-items: center; 
}
.image{
    margin: 0;
}
.element img{
    width: 100%;
    height: 114px;
    border: 1px solid transparent;
    border-radius: 15px 15px 0px 0px; 
}
.el img{
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    object-fit: cover; 
}
.el{
    text-decoration: none; 
}
.el:hover{
    text-decoration: none;   
}
.desc
{
    font-size: small; 
    color: black;
    padding-left: 3%;
    text-align: left; 
    display: flex;
    flex-direction: column;
}
.hotel{
    margin-bottom: 0%;
}
.prix{
	font-weight: lighter;  
    margin-top: 2%;
    margin-bottom: 3%;
}
.etoile{
    color: #0065FC; 
    display: flex;
    flex-direction: row; 
}

.afficher{
    font-size: smaller;
    margin-left: 3%;
}

/*Section Les plus populaires*/

.populaires{   
    width: 30%;
    height: auto;	
    margin-left: 1%;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.pop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.pop i{
  padding-top: 5%;
  
}
.bloc2{
    font-size: large;
    font-weight: bold;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.element1{
    width: 80%;
    height: 135px;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    font-size: small;
    display: flex;
    margin-bottom: 10%;   
}
.element1 img{
    width: 130px;
    height: 95%;
    border: 1px solid transparent;
    border-radius: 15px 0px 0px 15px; 
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px; 
    object-fit: cover;
}
.asidedesc{
    font-size: small; 
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left; 
    margin: 3%;  
    display: flex;
    flex-direction: column;
}
.el1{
    text-decoration: none;
    display: flex;
}
.el1:hover{
    text-decoration: none;
}
.hotel{
    margin-top: 3%;
}
.prix1{
	font-weight: lighter;
    margin-top: 5%;
}
.etoile1{
    padding-top: 20%;
    color: #0065FC; 
    display: flex;
    flex-direction: row;
}
/*Activités*/

.activ{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 2%; 
  
}
.activ a{
    font-size: 1.2em;
    font-weight: bolder;
}
.bloc3{
    display: flex;
    flex-direction: row;
    margin-left: -3%;
}

figure{
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px #F2F2F2;
}
figure img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
figcaption{
    font-weight: bolder;
    font-size: medium;
    padding: 20px;
}

.port{
    width: 80%;
    height: auto;
}
.calanques{
    width: 80%;
    height: auto;
}
.grand img{
    height: 390px;
}

.ensemble{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
}
.moyen img{
    height: 180px;
}
.etroit img{
    height: 110px;
}
.element2 img{
    height: 145px;
}


/*Footer*/
footer{
    
    display: flex;   
    background-color: #F2F2F2 ;
    justify-content: flex;
    font-size: small;
    
}
.propos{
    display: flex;
    width: 100%;
    flex-direction: column;    
   
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
}
ul {
    list-style-type: none;
}
.propos p{
    margin: 1%;
}