@media only screen and (min-width: 375px) and (max-width: 500px) 
{}

/*Définition de la police personnalisée*/

/* vietnamese */
@font-face {
    font-family: 'Raleway';    
    src: url("Raleway/Raleway-VariableFont_wght.ttf");  
  }

  body{
    font-family: raleway;
  }

/*Header*/

header{
    width: 1440px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

.logo img{
    width: auto;
    height: 50px;
    display: flex;
}

.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    font-size: small;
    display: flex;
    justify-content: flex-end;
}

nav li{
    padding-inline-start: 60px;
}

h1{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0mm;
}

h2{
    font-weight: lighter;
    font-size: small;
    margin-top: 0mm;
}
.recherche{
    display: flex;
    font-size: 1.3em;
    margin-top: 15px;
    font-weight: bold;  
}

.recherche i{
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
}

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form i{
    border: 1px solid #dae2e9;
    border-radius: 30px 0px 0px 30px;
    background-color: #dae2e9;
    padding: 1px 18px 1px 18px;
    color: black;
    font-weight: bold;
    width: 12px;
    height: 47px;
    text-align: center; 
    display: flex;
    align-items: center; 
}

.bouton{
    border: 1px solid #0D4EBF;
    border-radius: 0px 30px 30px 0px;
    background-color: #0D4EBF;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    width: 134px;
    height: 50px;
    padding: 1px 18px 1px 18px;
    display: flex;
    align-items: center;
}

.search{
    border: 1px solid #dae2e9;
    width: 184px;
    height: 50px;
    font-weight: bold;
    color: black;
    padding: 1px 18px 1px 18px;
    display: flex;
    align-items: center;
}

h3{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtre{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.filtre i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtersDiv i{
    border: 1px solid #C1DFF8;
    border-radius: 20px;
    background-color: #C1DFF8;
    color: #0D4EBF;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.filtersDiv{
    border-top: 1px #C1DFF8 solid ;
    border-bottom: 1px #C1DFF8 solid ;
    border-right: 1px #C1DFF8 solid ;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.filtersText{
    border-radius: 0 20px 20px 0;
    height: 70%;
    padding: 10px 10px 0 10px;
}

.filtersDiv:hover{
    background-color: #DEEBFF;
    border: none;
}


.info i{
    color: #0e2bf9;
    border: 1px solid #C8CCE5;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 10px;
}

.info
{
    display: flex;
    align-items: center;
}


/*Main*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    
}
.bloc1bloc2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Section Hébergement*/

#hebergements{
margin-left: 1%;
}

.hebergement{
    border: 2px solid #dae2e9;
    background-color: #dae2e9;
    border-radius: 20px;
    width: 68%;
    height: auto;
    padding-top: 3%;
    font-weight: bolder;
    font-size: 1.2em;  
    padding-left: 2%;
}

.bloc1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -3%;
    padding-top: 2%;

}

.element
{   
    width: 25%;
    height: 200px;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    padding-left: 0.2%;
    padding-right: 0.2%; 
    font-size: larger;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    align-items: center; 
}

.element img
{
    width: 100%;
    height: 114px;
    border: 1px solid transparent;
    border-radius: 15px 15px 0px 0px; 
    object-fit: cover;
}

.desc
{
    font-size: small; 
    padding-left: 3%;
    padding-bottom: 1%;
    text-align: left; 
    margin: 0;
}
.prix{
	font-weight: lighter;
    
  
}
.desc i{
    color: #0481EE;   
}

.afficher{
    font-size: smaller;
}

/*Section Les plus populaires*/

.populaires{
    
    width: 25%;
    height: auto;	
    margin-left: 1%;
    border: 2px solid #dae2e9;
    background-color: #dae2e9;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.pop{
    display: flex;
    padding: 5%;
}
.etoiles{
    padding-top: 10%;
}
.bloc2{
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element1{
    width: 80%;
    height: 135px;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    font-size: larger;
    display: flex;
}

.element1 img{
    width: 129px;
    height: 95%;
    border: 1px solid transparent;
    border-radius: 15px 0px 0px 15px; 
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px; 
    object-fit: cover;
}

.asidedesc{
    font-size: medium; 
    font-size: 0.5em; 
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-align: left; 
}

.asidedesc i{
    color: #0481EE;   
}

.prix1{
	font-weight: lighter;
}

/*Activités*/

.activ{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 2%; 
    margin-left: 1%;
}
.activ a{
    font-size: 1.2em;
    font-weight: bold;
}
.bloc3{
    display: flex;
    margin-left: -3%;
}
figure{
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 2px 2px #CCDDEC;
}
figure img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
figcaption{
    font-weight: bold;
    font-size: medium;
    padding: 20px;
}
.grand img{
    height: 390px;
}

.ensemble{
    display: flex;
    flex-direction: column;
}

.moyen img{
    height: 180px;
}

.etroit img{
    height: 110px;
}

.element2 img{
    height: 145px;
}

/*Footer*/
footer{
    
    display: flex;   
    background-color: #CCDDEC ;
    justify-content: flex;
    font-size: small;
}
.propos{
    display: flex;
    width: 100%;
    flex-direction: column;    
    margin-left: 2%;
    margin-right: 15%;
    margin-bottom: 2%;
}
ul {
    list-style-type: none;
}
.propos p{
    margin: 1%;
}